.App {
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgb(8 7 16 / 60%);
    height: 86vh;
    left: 50%;
    padding: 2rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.App .title {
    text-align: center;
}

.App .timer {
    float: right;
}

.App .tabs {
    display: flex;
    list-style: none;
    margin-top: 4rem;
}

.tabs .tab:not(:last-child) {
    margin-right: .2rem;
}

.tabs .tab:last-child {
    margin-right: 6rem;
}

.tabs .tab button {
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    padding: .4rem;
}

.App .content {
    line-height: 1.2rem;
    list-style: none;
    max-height: 64vh;
    overflow: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.content li {
    line-height: 2rem;
}

/* Loading effect overlay */
.overlay {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.overlay__inner {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    animation: spin 1s infinite linear;
    border-color: rgba(255, 255, 255, 0.05);
    border-radius: 100%;
    border-style: solid;
    border-top-color: rgba(255, 255, 255, 0.8);
    border-width: 8px;
    display: inline-block;
    height: 4rem;
    width: 4rem;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}